body{
    background-color: #193F39;
    color: #193F39;
}

.txt-normal {
    font-family: 'Arial', sans-serif;
    
    }

.navbar {
    background-color: #1BBCA6; 
}

.btn {
    border-radius: 100px;
    color:#1BBCA6;
}

h1 {
    color: white;
    padding: 30px;
}

.containter {
    margin: auto;
    width: 100%;
    padding: 30px;
}

.card-body {
    background-color: #1BBCA6;
        margin: auto;
        width: 100%;
        border: 3px;
        padding: 30px;
}
#event{
    -ms-text-align-last: right; 
}