body{
    background-color: #ACDAB7;
    color: #1D4367;
}

.navbar {
    background-color: #92C04A; 
}

.btn {
    border-radius: 100px;
    color: #92C04A;
}

h1 {
    color:#1D4367;
    padding: 30px;
}

.containter {
    margin: auto;
    width: 100%;
    padding: 30px;
}

.card-body {
    background-color: #9ED88B;
        margin: auto;
        width: 100%;
        border: 3px;
        padding: 30px;
}